Ejercicio 1: Crear una tabla “Productos” que contenga los datos que le permite
a un bazar llevar el control de los productos que comercializa.

● Productos (id_producto, nombre_producto, cantidad_producto,
precio_producto, categoria_producto).
Con el código de conexión siguiente, realiza la creación de la tabla en la base de
datos "Productos_bd".

In [ ]:
import sqlite3
#Se conecta con la base de datos (ya creada?)
conexion=sqlite3.connect('Productos.bd')
cursor=conexion.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS Productos(
                                                      id_producto  INTEGER PRIMARY KEY,
                                                      nombre_producto  TEXT,
                                                      cantidad_producto INTEGER,
                                                      precio_producto FLOAT,
                                                      categoria_producto  TEXT
                                                      )
                  """)

conexion.commit()
conexion.close()

Ejercicio 2: Una vez creada la base de datos "Productos_bd" y la tabla
"Productos" realice las siguientes actividades:

● Insertar un producto

● Hacer al menos una consulta de búsqueda. Ejemplo: "ver todos los
productos cargados", "ver los productos con stock 0"

● Actualizar un producto

● Eliminar un producto

In [ ]:
import sqlite3
print("Inicio de la conexion")
#se conecta a la base de datos
conexion=sqlite3.connect('Productos.bd')
cursor=conexion.cursor()

print("Inicio de la insercion")
#Se insertan 5 productos mediante la insercion de registros
cursor.execute("""INSERT INTO Productos VALUES (NULL,"OLLAS",30,250.5,"GASEOSAS")""")
cursor.execute("""INSERT INTO Productos VALUES (NULL,"REMERA",103,150.5,"VESTIMENTA")""")
cursor.execute("""INSERT INTO Productos VALUES (NULL,"PANTALON",130,550.5,"VESTIMENTA")""")
cursor.execute("""INSERT INTO Productos VALUES (NULL,"BUZZ",63,20.5,"JUEGUETES")""")
cursor.execute("""INSERT INTO Productos VALUES (NULL,"CHINELAS",0,92.5,"VESTIMENTA")""")
print("Fin de la insercion\n")

print("Inicio de la consulta")
#Consultas de busqueda
#Se buscan todos los productos cargados
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
              FROM productos """)
#se muestra la respuesta de la consulta
productos=cursor.fetchall()
print(productos)
#Se buscan todos los productos de categoria "VESTIMENTA"
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
              FROM productos
              WHERE categoria_producto = "VESTIMENTA" """)
#Se muestra la respuesta de la consulta
productos=cursor.fetchall()
print(productos)
print("Fin de la consulta\n")

print("Inicio de la actualizacion")
#Actualizar precio de productos de categoria VESTIMENTA
#Se actualizan los precios de VESTIMENTAS
cursor.execute("""UPDATE Productos SET precio_producto = precio_producto * 1.6 WHERE categoria_producto = "VESTIMENTA" """)
#Se actualiza el nombre de CHINELAS por OJOTAS
cursor.execute("""UPDATE Productos SET nombre_producto = "OJOTAS" WHERE nombre_producto = "CHINELAS" """)
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
              FROM productos """)
#se muestra los cambios realizados
productos=cursor.fetchall()
print(productos)
print("Fin de la actualizacion\n")

print("Inicio de la eliminacion")
#Eliminar 2 elementos
#Se eliminan los que tengan precios mayores a $300
cursor.execute("""DELETE FROM productos WHERE precio_producto > 250.0 """)
#Se eliminan los JUGUETES
cursor.execute("""DELETE FROM productos WHERE categoria_producto = "JUGUETES" """)
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
              FROM productos """)
#se muestra los cambios realizados
productos=cursor.fetchall()
print(productos)
#Se guardan todos los cambios
conexion.commit()
#Se cierra la conexion a la base de datos
conexion.close()
print("Fin de la eliminacion")
print("Fin de la conexion\n")

print("Inicio de nueva conexion")
#se conecta nuevamentea la base de datos
conexion=sqlite3.connect('Productos.bd')
cursor=conexion.cursor()
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
              FROM productos """)
#se muestra los cambios hechos y guardados
productos=cursor.fetchall()
print(productos)
print("Fin de la conexion")

Inicio de la conexion
Inicio de la insercion
Fin de la insercion

Inicio de la consulta
[(1, 'OLLAS', 30, 250.5, 'GASEOSAS'), (2, 'REMERA', 103, 150.5, 'VESTIMENTA'), (3, 'PANTALON', 130, 550.5, 'VESTIMENTA'), (4, 'BUZZ', 63, 20.5, 'JUEGUETES'), (5, 'CHINELAS', 0, 92.5, 'VESTIMENTA')]
[(2, 'REMERA', 103, 150.5, 'VESTIMENTA'), (3, 'PANTALON', 130, 550.5, 'VESTIMENTA'), (5, 'CHINELAS', 0, 92.5, 'VESTIMENTA')]
Fin de la consulta

Inicio de la actualizacion
[(1, 'OLLAS', 30, 250.5, 'GASEOSAS'), (2, 'REMERA', 103, 240.8, 'VESTIMENTA'), (3, 'PANTALON', 130, 880.8000000000001, 'VESTIMENTA'), (4, 'BUZZ', 63, 20.5, 'JUEGUETES'), (5, 'OJOTAS', 0, 148.0, 'VESTIMENTA')]
Fin de la actualizacion

Inicio de la eliminacion
[(2, 'REMERA', 103, 240.8, 'VESTIMENTA'), (4, 'BUZZ', 63, 20.5, 'JUEGUETES'), (5, 'OJOTAS', 0, 148.0, 'VESTIMENTA')]
Fin de la eliminacion
Fin de la conexion

Inicio de nueva conexion
[(2, 'REMERA', 103, 240.8, 'VESTIMENTA'), (4, 'BUZZ', 63, 20.5, 'JUEGUETES'), (5, 'OJOTAS', 0, 148.0, 'VESTIMENTA')]
Fin de la conexion

Ejercicio 3: Para la misma base de datos de ejercicios anteriores, crear una
tabla que se llame Detalle_Venta, que contenga los siguientes campos:
id_producto, precio_producto, cantidad, subtotal y total, de forma que permita
armar el detalle de una factura y mostrar en pantalla.

● Crear la tabla Detalle_Venta.

● Insertar datos simulados en la tabla Detalle_Venta.

In [ ]:
import sqlite3
print("inicio de conexion")
conexion=sqlite3.connect('Productos.bd')
cursor=conexion.cursor()

print("inicio de creacion de la tabla")
cursor.execute("""CREATE TABLE IF NOT EXISTS detalles_venta(
                                                              id_detalle INTEGER PRIMARY KEY,
                                                              id_producto INTEGER,
                                                              precio_producto FLOAT,
                                                              cantidad_producto INTEGER,
                                                              subtotal FLOAT,
                                                              total FLOAT
                                                           )
                                                           """)
print("Fin de creacion de la tabla")


print("inicio de insercion")
print("Inicio ")
# Creamos una lista con varios detalles de venta
detalles = [(1,1,250.5,1,250.5,480),
             (2,2,150.5,2,301.0,301.0),
             (3,1,250.0,3,750.0,1230.0)]
cursor.executemany("""INSERT INTO detalles_venta VALUES (?,?,?,?,?,?)""",detalles)
print("Fin de insercion")


print("Resultado luego de la insercion")

cursor.execute("""SELECT  id_detalle,
                          id_producto,
                          precio_producto,
                          cantidad_producto,
                          subtotal,
                          total
                  FROM detalles_venta """)
print("lista: ",cursor.fetchall()[::])
conexion.commit()
conexion.close()
print("Fin de conexion")

inicio de conexion
inicio de creacion de la tabla
Fin de creacion de la tabla
inicio de insercion
Inicio
Fin de insercion
Resultado luego de la insercion
lista:  [(1, 1, 250.5, 1, 250.5, 480.0), (2, 2, 150.5, 2, 301.0, 301.0), (3, 1, 250.0, 3, 750.0, 1230.0)]
Fin de conexion

Ejercicio 4: Crear un pequeño programa que te permita hacer una venta usando
las tablas Productos y Detalle_Venta, considerar:

● Stock distinto de 0 al hacer la venta.

● Guardar en Detalle_Venta la venta realizada.

In [60]:
import sqlite3

def mostrar_elegir_productos(conexion):
  cursor=conexion.cursor()
  cursor.execute("""SELECT  id_producto,
                            nombre_producto,
                            cantidad_producto,
                            precio_producto
                    FROM productos """)
  lista_productos=cursor.fetchall()
  print("item: \tCant: \tPrecios:")
  for producto in lista_productos:
    print(producto[1],"\t",producto[2],"\t",producto[3])
  while True:
    posicion=0
    elegido=input("Ingrese nombre de un producto: ")
    for producto in lista_productos:
      if producto[1].upper()==elegido.upper():
        b=1
        break
      else:
        posicion+=1
    if b==0:
      print("Producto inexistente")
    else:
      break
  while True:
    print("Ingrese la cantidad que desea comprar: ")
    cantidad=int(input())
    if lista_productos[posicion][2]<cantidad:
      b=1
    else:
      print("Ingrese una cantidad menor o igual a la disponible ")
    if b==1:
      break
  producto_comprado=lista_productos[posicion][0]
  precio=lista_productos[posicion][3]
  producto_elegido={"id_elegido":producto_comprado,"cantidad_elegido":cantidad}
  return producto_elegido

def actualizar_tablas(conexion,elegido):
  cursor=conexion.cursor()
  cursor.execute("""SELECT id_producto,
                           cantidad_producto,
                           precio_producto
                    FROM productos
                    WHERE id_producto=(?)""",(elegido["id_elegido"],))
  producto=cursor.fetchall()
  cursor.execute("""UPDATE Productos
                         SET cantidad_producto = cantidad_producto - (?)
                         WHERE id_producto = (?)""",(elegido["cantidad_elegido"],elegido["id_elegido"],))
  cursor.execute("""SELECT total
                    FROM detalles_venta
                    WHERE id_producto=(?)
                        """,(elegido["id_elegido"],))
  detalles_producto=cursor.fetchall()
  if len(detalles_producto)>0:
    total=detalles_producto[-1][0]
  else:
    total=0
  subtotal=producto[0][2]*elegido["cantidad_elegido"]
  detalles=(None,producto[0][0],producto[0][2],elegido["cantidad_elegido"],subtotal,total+subtotal)
  cursor.execute("""INSERT INTO detalles_venta 
                    VALUES (?,?,?,?,?,?)""",detalles)
  conexion.commit()
  
def muestra_tabla_productos(conexion):
  cursor=conexion.cursor()
  cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
                  FROM productos """)
  productos=cursor.fetchall()
  for producto in productos:
    print(producto)

def muestra_tabla_detalles(conexion):
  cursor=conexion.cursor()
  cursor.execute("""SELECT  id_detalle,
                            id_producto,
                            precio_producto,
                            cantidad_producto,
                            subtotal,
                            total
                    FROM detalles_venta """)
  detalles=cursor.fetchall()
  for detalle in detalles:
    print(detalle)




try:
  ruta="/content/Productos.bd"
  conexion=sqlite3.connect(ruta)
  print("Tabla Productos antes de cambios.")
  muestra_tabla_productos(conexion)
  elegido=mostrar_elegir_productos(conexion)
  actualizar_tablas(conexion,elegido)
  
  print("Exito. Resultados:\nTabla Productos: ")
  muestra_tabla_productos(conexion)
  print("Tabla Detalles_Venta: ")
  muestra_tabla_detalles(conexion)
  conexion.close()
except:
  print("Error")
  conexion.close()

Tabla Productos antes de cambios.
(2, 'REMERA', 93, 240.8, 'VESTIMENTA')
(4, 'BUZZ', 60, 20.5, 'JUEGUETES')
(5, 'OJOTAS', 0, 148.0, 'VESTIMENTA')
item: 	Cant: 	Precios:
REMERA 	 93 	 240.8
BUZZ 	 60 	 20.5
OJOTAS 	 0 	 148.0
Ingrese nombre de un producto: Remera
Ingrese la cantidad que desea comprar:
25
Ingrese una cantidad menor o igual a la disponible
Exito. Resultados:
Tabla Productos:
(2, 'REMERA', 68, 240.8, 'VESTIMENTA')
(4, 'BUZZ', 60, 20.5, 'JUEGUETES')
(5, 'OJOTAS', 0, 148.0, 'VESTIMENTA')
Tabla Detalles_Venta:
(1, 1, 250.5, 1, 250.5, 480.0)
(2, 2, 150.5, 2, 301.0, 301.0)
(3, 1, 250.0, 3, 750.0, 1230.0)
(4, 2, 240.8, 10, 2408.0, 2709.0)
(5, 4, 20.5, 3, 61.5, 61.5)
(6, 2, 240.8, 25, 6020.0, 8729.0)

In [ ]:
#Toda esta celda me sirve para limpiar la base de datos uno a uno
import sqlite3
conexion=sqlite3.connect('Productos.bd')
cursor=conexion.cursor()
print("Antes de eliminar")
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
                  FROM productos """)
productos=cursor.fetchall()
print(productos)

cursor.execute("""DELETE FROM productos WHERE id_producto = 5 """)


print("Desp de eliminar")
cursor.execute("""SELECT  id_producto,
                          nombre_producto,
                          cantidad_producto,
                          precio_producto,
                          categoria_producto
                  FROM productos """)
#se muestra los cambios hechos y guardados
productos=cursor.fetchall()
print(productos)

conexion.commit()
conexion.close()